@keyframes animation-header {
    to {
        background: white;
        backdrop-filter: blur(5px);
        font-size: 50px;
        color: black
    }
}


.navbar_wedding {
    background: #ebcdf7;
    animation: enhance-header linear both;
    animation-timeline: scroll(root);
    animation-range: 0 150px;
}

@keyframes enhance-header {
    to {
        background: rgba(235, 204, 247, 0.4);
        backdrop-filter: blur(5px);
    }
}


html {
    scroll-behavior: smooth;
}

